/*font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'ZCOOL QingKe HuangYou', cursive;*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?3ot2jt');
  src:  url('../fonts/icomoon.eot?3ot2jt#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?3ot2jt') format('truetype'),
    url('../fonts/icomoon.woff?3ot2jt') format('woff'),
    url('../fonts/icomoon.svg?3ot2jt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}


body{
	margin: 0;
	background-color: #c5c5c5;
	background-image: url('../img/php coding.jpg');
	background-size: 100% 100% ;
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: 0;
	background-attachment: fixed;

}
ul{
	display: flex;
	height: inherit;
	margin: 0;
	display: inherit;
	align-items: center;
	list-style: none;
}
ul li{
	height: inherit;
	
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Lato', sans-serif;
}
.burger-button{
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	display: none;
	background-color: rgba(255, 255, 255, .8);	/*display: none;*/
	/*background-color: #fafafa;*/
	color: black;
	text-align: center;
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 7;
	/*line-height: 40px;*/
}
/*Seccion del header----------------------------------------------------------------------------------------*/
.header{
	height: 79px;
	background-color: black;
	border-bottom: 1px solid white;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.logo{
	width: 212px;
	object-fit: cover;
	margin: auto 20px;
	display: flex;
	align-items: center;

}
.logo img{
	width: 60px;
	display: block;
	margin-right: 20px;
}
.logo p{
	color: white;
	display: block;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
}
.menu{
	display: inherit;
	height: inherit;
	display: inherit;
	align-items: center;
}
.link{
	color: white;
	text-decoration: none;
	list-style: none;
	height: inherit;
	display: flex;
	align-items: center;
	margin-right: 30px;
	font-family: 'Lato', sans-serif;
}
.link#special{
	border: 2px solid #026fff;
	color: #026fff;
	border-radius: 10px;
	width: 100px;
	height: 40px;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	margin-top: 18px;
}
/*Seccion del Hero------------------------------------------------------------------------------------------*/
.hero{
	height: 500px;
	background-color: rgba(0,0,0,.7);
	/*padding: 20px;*/
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.hero h1{
	color: white;
	text-align: center;
	text-transform: capitalize;
	font-size: 40px;
	line-height: 60px;
	font-weight: 400;
}
.hero strong{
	color: #026fff;
	font-weight: bold;
}

/*Seccion acerca de mi--------------------------------------------------------------------------------------*/
.aboutme{
	/*height: 500px;*/
	background-color: #afafaf;
	padding: 20px;
	flex-wrap: wrap;

}
.aboutme-card{
	background-color: #d1d1d1;
	max-width: 660px;
	margin: auto;
	border-radius: 5px;
	box-shadow: 0 0 2px black;
	display: flex;
	align-items: center;	
	justify-content: space-around;
	padding: 20px;
}
.aboutme-image-container{
	width: 200px;
	height: 200px;
	object-fit: cover;	
	border-radius: 50%;
	overflow: hidden;
}
.aboutme-image{
	width: 100%;
	height: 100%;
}
.aboutme-detail{
	font-size: 30px;
	max-width: 400px;
}
.aboutme-detail h2{
	color: #026fff;
	text-align: center;
	margin: .5em;
	font-size: 1em;
}
.aboutme-detail p{
	font-size: .55em;
	margin: 1em;
	line-height: 22px;	
}
/*-Seccion Habilidades---------------------------------------------------------------------------------------*/
.habilities-section{
	background-color: #c5c5c5;
	margin: 0;
	padding: 20px;
	height: auto;
}
.habilities-section h2{
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin:0;
	padding: .7em .3em;
	padding-top: 0;
	font-size: 30px;
}
.habilities{
	padding: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}
.hability{
	background-color: #afafaf;
	padding: .3em;
	margin: .8em;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	width: 40%;
	box-shadow: 0 0 2px black;
}
.hability h4{
	margin: .5em;
}
progress[value]{
	margin:auto 1em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/* Quitamos el borde que aparece en Firefox */
	border: none;
	width: 250px;
	/*min-width:250px;*/
	height: 20px;
	/*Para mozilla*/
	background-color: #d1d1d1;
	border-radius: 5px;
	overflow: hidden;

}
progress::-moz-progress-bar{
	background-color: #026fff;
}
progress::-webkit-progress-value{
	background-color: #026fff;

}
progress::-webkit-progress-bar{
	background-color: #d1d1d1;

}
/*-Seccion Certificados------------------------------------------------------------------------------------*/
.certificates-section{
	background-color: #dadada;	
	padding: 20px;
}
.certificates-section h2{
	font-size: 30px;
	margin: 0 auto;
	text-align: center;
}
.certificates{
	background-color: #dadada;
	margin: 0;
	display: flex;
	flex-shrink: 0;
	flex-wrap: wrap;
}
.certificate{
	width: 30%;
	margin: 20px auto ;
	height: auto;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	box-shadow: 0 0 2px black;
}
.certificate:hover .certificate-detail{
	display: flex;
}
.certificate-image-container{
	margin:0;	
	object-fit: cover;
	width: 100%;
	height: 100%
}
.certificate-image{
	/*position: relative;*/
	width: 100%;
	height: 100%;
	/*top: 0;
	bottom: 0;
	object-fit: cover;*/
}
.certificate-detail{
	display: none;
	justify-content: center;
	align-items: center; 
	background-color: rgba(0,0,0,.4);
	/*width: 20px;*/
	/*height: 40px;*/
	position: absolute;
	z-index: 1;
	margin: 0;
	bottom: 0px;
	top: 0px;
	left: 0;
	right: 0;
/*	padding: 5px;*/

}

.certificate-link{
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	height: 100%;
	width: 100%;
	color: white;
	font-weight: bold;
	/*background-color: rgba(, 200, 200, .2);*/
	font-size: 30px;
	padding: 20px;

}

/*Seccion Servicios-----------------------------------------------------------------------------------------*/
.services{	

	background-color: #c5c5c5;
	display: flex;
	margin:  0;
	justify-content: space-around;
	padding: 0px 40px 50px;
	flex-wrap: wrap;
}
.services-h2{
	height: 50px;
	background-color: #c5c5c5;
	display: flex;
	align-items: center;
	justify-content: center;
	margin:0;
	padding: .7em .3em;
	font-size: 30px;
}

.service-article{
	margin: 20px;
	width: 200px;
	background-color: gray;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0 0 15px black;
	
}
.service-article h3{
	text-align: center;
	font-size: 25px;
	font-weight: 300;
	margin-bottom: 40px;
}
.service-article p{
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	text-align: justify;
}



/*Seccion Proyectos-----------------------------------------------------------------------------------------*/
.projects{
	margin: auto;
	background-color: #818181;
	padding: 20px;
	flex-wrap: wrap;
	align-items: center;
}

.projects h2{

    text-align: center;
    font-size: 30px;
    margin: 10px;

}
.project{
	background-color: #c5c5c5;
	border-radius: 10px;
	box-shadow: 0 0 20px black;
	display: flex;
	padding-left: 20px;
	padding-bottom:  20px;
	padding-top: 20px;
	margin: 40px 150px;
	align-items: center;
}
.project-article{
	width: 40%;
	margin: 0 5%;
}

.project-title{
	margin: 0;
	text-align: center;
	font-size: 25px;
	font-weight: 300;
	margin-bottom: 20px;
}

.project-detail{
	font-size: 20px;
	line-height: 30px;
	text-align: center;
}

.project-image-container{
	width: 50%;
    margin: 0 1%;
}

.project-image{
	width: 100%;
}
/*Seccion de Contacto---------------------------------------------------------------------------------------*/
.contact{
	background-color: #363636;
	flex-wrap: wrap;
}
.contact h2{
	margin: 0;
	color: #026fff;
	text-align: center;
	font-size: 30px;
	padding: 20px;
}
.social{
	display: inline-block;
	display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-top:0; 
}
.social-link{
	width: 60px;
	height: 60px;
	background-size: 60px 60px;
	margin: 0 10px;

}

.social-link.twitter{
	background-image: url('../img/twitter.svg');

}
.social-link.facebook{
	background-image: url('../img/facebook.svg');
}
.social-link.github{
	background-image: url('../img/github.svg');
}
.social-link.linkedin{
	background-image: url('../img/linkedin.svg');
}
/*Seccion del footer----------------------------------------------------------------------------------------*/
footer{
	height: 50px;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;

}
footer p{
	color: white;
	margin: 0;
	/*padding-top: 15px;*/
	font-weight:bold;
}
/*Seccion del contenedor de la pagina------------------------------------------------------------------------*/
.wrapper{
	flex-wrap: inherit;
	max-width: 1000px;
	/*width: 1002px;*/
	height: inherit;
	/*border: 1px solid red;*/
	margin: 0 auto;
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	flex: 1;

}

/*Inicio del Responsive Design--------------------------------------------------------------------------------*/
@media screen and (max-width: 1023px){
	.hero{
		height: 50vh;
	}
	.aboutme-card{
		/*width: auto;*/
	}
	.hability{
		width: 40%;
	}
	progress[value]{
		max-width: 200px;
	}
}
@media screen and (max-width: 767px){
	.burger-button{
		display: block;
	}
	.header{
		display: block;
		height: auto;
		text-align: center;
		margin: 0 auto;
	}
	.logo{
		text-align: center;
		margin: auto;
	}

	.arriba{
		position: fixed;
		top:-50vh;
		bottom: 50vh;
		height: 50vh;
		background-color: rgba(0, 0, 0, .5);
		width: 100vw;
		transition: .5s;	
		z-index: 5;
	}
	.arriba.active{
		top: 0;
	}
	.abajo{
		position: fixed;
		top:150vh;
		bottom: 200vh;
		height: 50vh;
		background-color: rgba(0, 0, 0, .5);
		width: 100vw;
		transition: .5s;
		z-index: 5;
	}
	.abajo.active{
		top: 50vh;
	}
	.menu{	
		position: fixed;
		top: 0;
		bottom: 0;
		/*background-color: rgba(0, 0, 0, .5);	*/
		width: 100vw;
		left: -100vw;
		align-items: center;
		display: flex;
		justify-content: center;
		font-size: 20px;
		/*text-decoration: underline;*/
		transition: .5s;
		z-index: 6;
		font-weight: bold;
	}
	.menu.is-active{
		left: 0;
	}

	.menu ul{
		display: block;
		padding: 0;
	}

	ul li{
		height: 40px; 
		margin-bottom:10px;
		
	}
	.link{
		max-width: 767px;
		margin: 0;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		
	}

	.link#special{
		padding: 10px;
		border: 2px solid white;
		color: white;
		text-decoration-line: none;
	}
	.hero{
		font-size: 30px;
		height: 40vh;
	}
	.hero h1{
		font-size: .9em;
		line-height: 1.5em;		
	}
	.aboutme-card{
		display: block;
		max-width: 500px;
		margin: auto;
		padding: 20px 0 5px;
	}
	.aboutme-image-container{
		margin: 20px auto;
	}
	.aboutme-detail{
		margin: 20px;
		max-width: 100%;
	}
	.aboutme-detail h2{
		font-size: 22px;
	}
	.aboutme-detail p{
		font-size: 18px;
		line-height: 1.5em;	
	}
	.habilities-section h2{
		font-size: 22px;
	}
	.habilities{
		margin:auto;
		max-width: 350px;
		display: block;
	}
	
	.hability {
		width: 100%;
		margin: 10px auto ;
		padding: 0;
	}
	progress[value]{
		height: 16px;
	}
	.certificates-section h2{
		font-size: 22px;
	}
	.certificate{
		width: 40%;
	}
	.certificate-link{
		font-size: 20px;
	}
	.services-h2{
		padding: 10px 20px;
		height: auto;
		font-size: 22px


	}
	.services{
		font-size: 25px;
		padding: 20px 0;/*20px*/
		justify-content: space-around;
	}
	.service-article{
		width: 24%;
		margin: 0;
		padding: .4em;
	}

	.service-article h3{
		margin: .4em;
		font-size: 1em;
	}
	
	.service-article p{
		margin: .4em 0;
		font-size: .8em;

	}
	.projects h2{
		font-size: 22px;
		margin-bottom: 1em;
	}
	.project{
		/*flex-shrink: 0;*/
		display: block;
		font-size: 30px;
		width: 400px;
		margin: auto;
		margin-bottom: .8em;	
		padding: 0;
		overflow: hidden;
		position: relative;
	}
	.project-image-container{
		margin: 0;
		width: 100%;
	}

	.project-image{
		width:100%;
		height: 200px;
		object-fit: cover;
	}
	.project-article{
		width: 100%;
		margin: 0;
		font-size: 30px;
	}
	.project-title{
		font-size:.9em;
		margin-bottom: .6em ;
	}
	.project-detail{
		font-size: .7em;
		margin: .7em;
		text-align: justify;
	}
	.contact h2{
		font-size: 22px;
	}
}
@media screen and (max-width: 480px){
	body{
		/*background-position: 0 40px ;*/
		background-size: 150vw auto;
	}
	.hero{
		font-size: 22px;
		height: 35vh;
	}
	.hero h1{
		font-size: .9em;
		line-height: 1.5em;		
	}
	.aboutme-detail{
		margin: 0 auto;
		width: auto;
		font-size: 14px;
	}
	.aboutme-detail p{
		line-height: 1.5em;
		font-size: 1.2em;
		margin: 1em;
	}
	.aboutme-detail h2{
		font-size: 17px;
		margin: .3em auto;
	}
	.habilities-section h2{
		font-size: 18px;
	}	
	.habilities{
		margin:auto;
		max-width: 350px;
		display: block;
	}
	.hability {
		width: auto;
		margin: .5em ;
	}
	.hability h4{
		font-size: 1em;
		width: 58px;
	}
	progress[value]{
		width: 150px;
	}
	.certificates-section h2{
		font-size: 18px;
	}
	.certificate-link{
		font-size: 18px;
	}
	.services-h2{
		font-size: 17px;
		padding: .3em;
		height: auto;
	}
	.services{
		display: block;
		font-size: 16px;
		padding: 20px;		
	}
	.service-article{
		width: auto;
		margin-bottom: 20px;

	}
	.service-article h3{
		margin: .4em;
		font-size: 1.5em;
	}
	.service-article p{
		margin: 1em;
		font-size: 1.2em;
	}
	.project{
		width: auto;
	}
	.projects h2{
		font-size: 1.5em;
	}
	.project-article{
		font-size: 24px;
	}	
	.contact{
		/*font-size: 30px;*/
	}
	.contact h2{
		font-size: 17px;
	}
	.social{
		padding: 0 1.5em;
		padding-bottom: 1.5em;
	}
	.social-link{
		width: 40px;
		height: 40px;
		background-size: 40px 40px;
	}
	footer p{
		font-size: 12px;
	}
}
@media screen and (max-width: 320px){
	body{
		/*background-position: 0 20px;*/
		background-size: 150vw auto;
	}
	.hero{
		font-size: 22px;
		height: 35vh;
	}
	.hero h1{
		font-size: .9em;
		line-height: 1.5em;		
	}
	.aboutme-detail{
		margin: 0 auto;
		width: auto;
		font-size: 12px;
	}
	.aboutme-detail p{
		line-height: 1.5em;
	}
	.habilities-section{
		font-size: 14px;
	}
	.habilities-section h2{
		font-size: 1.5em;
	}
	.hability {
		width: 90%;
		margin: .5em auto ;
	}
	.hability h3{
		font-size: 1em;
	}

	.services{
		font-size: 14px;
		padding-bottom: .5em;
	}
	.project{
		width: auto;		
	}
	.project-article{
		font-size: 25px;
	}
	.project-detail{
		line-height: 1.5em;
	}
}
